.nav-back {
  padding: 20px;
  text-align: left;
}

.back-btn {
  background-color: var(--primary-color);
  color: var(--bg-color-1);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-btn:hover {
  background-color: var(--bg-btn-hover-color);
}
